.location-selector {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

select {
  flex: 1;
  margin-right: 10px;
  height: 30px;
}

.country,
.state {
  font-weight: bold;
  color: gray;
}

.city {
  font-size: larger;
  font-weight: bold;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.select-container {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}
