.center {
  text-align: center;
}

.dropdown-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

strong {
  font-weight: bold;
}

.city {
  font-size: 20px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  color: gray;
}

.bolder {
  font-weight: bolder;
  font-size: 25px;
}
